ul{
  list-style-type: none;
  width: 15%;
}

li{
  text-align: center;
  background-color: #4f713e;
  padding: 20px;
  border: 1px solid black;
}

li:hover{
  text-decoration: none;
    background-color: #8959a2;
}

a{
  text-decoration: none;
  color: white;
}
