#greenRectangle{
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: 0px;
  left: 0px;
}

#redRectangle{
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 2s ease 0s;
}

#redRectangle:hover{
  -webkit-transform: translate(250px, 25px) rotate(60deg);
}
